/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2018, 2:00:47 PM
    Author     : olegkholyk
*/

.priceitem {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 1s ease-in-out;
    /*box-shadow: 0 15px 15px rgba(0, 0, 0, .2);*/
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.ooo {

    background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FDFF 49%, #D1FAFF 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(33%, #FFFFFF), color-stop(49%, #F4FDFF), color-stop(100%, #D1FAFF)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FDFF 49%, #D1FAFF 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FDFF 49%, #D1FAFF 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FDFF 49%, #D1FAFF 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #FFFFFF 33%, #F4FDFF 49%, #D1FAFF 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D1FAFF',GradientType=1 ); /* ie6-9 */
    background-size: cover;
}

.ip {
    background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FFF4 49%, #D3FFD1 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(33%, #FFFFFF), color-stop(49%, #F4FFF4), color-stop(100%, #D3FFD1)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FFF4 49%, #D3FFD1 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FFF4 49%, #D3FFD1 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #FFFFFF 33%, #F4FFF4 49%, #D3FFD1 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #FFFFFF 33%, #F4FFF4 49%, #D3FFD1 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D3FFD1',GradientType=1 ); /* ie6-9 */
    background-size: cover;
}

.price_box {
    font-family: 'Oswald', sans-serif;
    display: block;
    color: #50a7ff;
}

.price_box .cost{
    font-weight: 200;
    font-size: 4em;
}
.price_box .time {

}
.service_title {
    color: #006489;
    font-size: 1.7em;
    line-height: 1.25em;
    margin: 40px 40px 0px 40px;
}

.price_box .time .currency {

}
.price_box .time .period {
    border-top: 1px dotted #50a7ff;
    display: block;
    margin: 0 70px 20px 70px;
}
.price_box .cost span {
    color: #50a7ff;
}
.priceitem .description {
    font-family: 'Roboto Condensed', sans-serif;
    color: #006489;
    line-height: 1.45em;
    margin: 20px 30px 0 30px;
}

.priceitem .ooo-bg {
    /*    background: url(../img/icons/prices/ooo.svg) no-repeat left center;*/
    background-size: 60%;
    height: 100px;
}

.priceitem .ip-bg {
    /*    background: url(../img/icons/prices/ip.svg) no-repeat left center;*/
    background-size: 60%;
    height: 100px;
}

.priceitem .main-bottns.animated.fadeInUp.order-bottns {
    margin: -20px 0 30px 0px;
    text-align: center;
}

.buttonblock {
    padding-bottom: 30px;
}
/*.ooo-bg {
    position: absolute;
    top: -70px;
    left: -20px;
    width: 170px;
    height: 170px;
    border-radius: 20%;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    background: #bc0000;
}*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .priceitem{
        min-height: 420px;
    }
    .price_box {}
    .price_box .cost {}
    .service_title {}
    .price_box .time .currency {}
    .price_box .time .period {
        display: inline-table;
        margin: 0px 0 20px 0px;

    }
    .price_box .cost span {}
    .priceitem .description {}
    .priceitem .ooo-bg {}
    .priceitem .ip-bg {}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .priceitem{}
    .price_box {}
    .price_box .cost {
        width:70%;
        font-size:2.3em;
    }
    .price_box .time {
        width:30%;
        margin:8px 30px 0 -50px;
    }
    .service_title {
        font-size: 1.3em;
        line-height: 1.25em;
    }
    .price_box .time .currency {
        font-size: .8em;
    }
    .price_box .time .period {
        font-size: .8em;
    }
    .price_box .cost span {}
    .priceitem .description {}
    .priceitem .ooo-bg {}
    .priceitem .ip-bg {}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .priceitem{
        margin:0 0 20px 0;
        min-height: 440px;
    }
    .price_box {}
    .price_box .cost {
        width: 100%;
    }
    .service_title {
        font-size: 1.5em;
        line-height: 1.25em;
    }
    .price_box .time .currency {
        font-size: .8em;
    }
    .price_box .time .period {
        font-size: .8em;
        display: inline-table;
        margin: -10px 0 20px 140px;
    }
}
.price_box .cost span {}
.priceitem .description {
    margin: -5px 30px 20px 30px;
}
.priceitem .ooo-bg {
    background-size: 30%;
}
.priceitem .ip-bg {
    background-size: 30%;
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .priceitem{}
    .price_box {}
    .price_box .cost {}
    .service_title {}
    .price_box .time .currency {}
    .price_box .time .period {
        margin: 0px 0 20px 210px;
        text-align: center;
        display: inline-table;
    }
    .price_box .cost span {}
    .priceitem .description {}
    .priceitem .ooo-bg {}
    .priceitem .ip-bg {}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .priceitem{}
    .price_box {}
    .price_box .cost {}
    .service_title {}
    .price_box .time .currency {}
    .price_box .time .period {}
    .price_box .cost span {}
    .priceitem .description {}
    .priceitem .ooo-bg {}
    .priceitem .ip-bg {}
}

