
body,

html {

    height: 100%;

    font-size: 14px;

    line-height: 1.5;

    font-family: Roboto;

    background: #fff;

    position: relative;

}



/* h1 h2 h3 */

h1,

h2,

h3 {

    font-family: Roboto;

    margin: 20px 0 5px 0;


    /*    text-transform: uppercase;*/

}




h2{

    color:#245a8f;
}


h3 {
    color:#3783cd;
}



h1 {

    font-weight: 900;

    font-size: 57px;

    color: #fff;

    animation-delay: .3s;

}

#safety h2 {
    border-bottom: 2px dotted #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 4em;
    color:#fff;

}

h2 {
    border-bottom: 2px solid #245a8f;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 4em;

}



h3 {

    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;

    font-size: 1.4em;

}



/* P */

p {

    color: #747e80;
    font-size:1.1em;
    margin: 0;

}



/* Title */

.title {

    position: relative;

    text-align: center;

    margin: 60px 0 0 0;

}

.title_left {

    position: relative;

    text-align: left;

    margin: 60px 0 0 0;

}




.title h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.title h3 {

    /*color:orange;*/
}




.title p {

    margin: 0 auto;

    width: 50%;

}



/* Section Padding */

.section-padding {

    padding: 100px 0;

}

section#contact.contact.section-padding {
    /*background: url("../img/bg/wall.jpg") no-repeat center;*/
}

/* Selection */

::selection {

    color: #fff;

    text-shadow: none;

    background: #5fb800;

}



::-moz-selection {

    color: #fff;

    text-shadow: none;

    background: #5fb800;

}



/* buttons */

.main-buttons {
    padding: 0px 0 30px 0;
}
.main-buttons a {
    width: 145px;
    height: 45px;
    color: #fff;
    background: #5fb800;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 45px;
    display: inline-block;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.main-buttons a.white {
    color: #003459;
    background: #fff;
    margin-right: 30px;
}

.main-buttons a:hover,
.main-buttons a.white:hover {
    text-decoration: none;
    background: #d06d14;
    color: #fff;
}



/* Navbar */

.navbar {

    margin: 0;

    padding: 44px 0;

    transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -webkit-transition: all .5s ease-in-out;

}



.navbar-default {

    background-color: transparent;

    border-color: transparent;

}



.top-nav {
    background:#efefef;
    -webkit-box-shadow: -1px 10px 40px -10px rgba(184,184,184,1);
    -moz-box-shadow: -1px 10px 40px -10px rgba(184,184,184,1);
    box-shadow: -1px 10px 40px -10px rgba(184,184,184,1);

    padding: 0;

}



/* Navbar Brand */

.navbar-brand {

    height: auto;



}



.navbar-brand img {

    /*
    height: 40px;*/
}



/* Nav */

.navbar-right {

    margin-right: 0;

}



.navbar ul {

    padding: 25px 0;

}



.navbar-nav > li {

    margin-right: 15px;

}



.navbar-nav > li:last-child {

    margin-right: 0;

}



.navbar-default .navbar-nav > li > a {

    color: #193958;
    padding: 0;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    font-size: 18px;

}



.navbar-default .navbar-nav > li > a:hover,

.navbar-default .navbar-nav > li > a:focus,

.navbar-default .navbar-nav > .active > a,

.navbar-default .navbar-nav > .active > a:focus,

.navbar-default .navbar-nav > .active > a:hover {

    color: #003459;
    background:rgba(20, 20, 20, .7);

    background: transparent;

}



.navbar-default .navbar-nav > .active > a:hover {

    color: #003459;

}



.navbar-default .navbar-nav > .open > a,

.navbar-default .navbar-nav > .open > a:focus,

.navbar-default .navbar-nav > .open > a:hover {

    color: #003459;

    background-color: transparent;

}



/* Dropdown Menu */

.dropdown-menu {

    top: 45px;

    background: #2d384e;

}



.dropdown-menu > li > a {

    color: #fff;

    padding: 8px 20px;

    line-height: 1.5;

    text-transform: uppercase;

    -webkit-transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    transition: all .5s ease-in-out;

}



.dropdown-menu > li > a:focus,

.dropdown-menu > li > a:hover {

    color: #003459;

    background-color: transparent;

}



.dropdown-menu > .active > a,

.dropdown-menu > .active > a:focus,

.dropdown-menu > .active > a:hover {

    color: #fff;

    background-color: transparent;

}



/* Navbar Toggle */

.navbar-toggle {

    margin-right: 5px;

    background-color: transparent;

    border: transparent;

}



.navbar-default .navbar-toggle:focus,

.navbar-default .navbar-toggle:hover {

    background-color: transparent;

}



.bar1,

.bar2,

.bar3 {

    width: 35px;

    height: 4px;

    background-color: #000;

    margin: 6px 0;

    border-radius: 25px;

    transition: .4s;

    -o-transition: .4s;

    -moz-transition: .4s;

    -webkit-transition: .4s;

}



.navbar-toggle:hover .bar1,

.navbar-toggle:hover .bar2,

.navbar-toggle:hover .bar3 {

    background-color: #003459;

}



/* Rotate first bar */

.change .bar1 {

    transform: rotate(-55deg) translate(-7px, 4px);

    -o-transform: rotate(-55deg) translate(-7px, 4px);

    -moz-transform: rotate(-55deg) translate(-7px, 4px);

    -webkit-transform: rotate(-55deg) translate(-7px, 4px);

    background-color: #003459;

}



/* Fade out the second bar */

.change .bar2 {

    opacity: 0;

}



/* Rotate last bar */

.change .bar3 {

    transform: rotate(55deg) translate(-10px, -6px);

    -o-transform: rotate(55deg) translate(-10px, -6px);

    -moz-transform: rotate(55deg) translate(-10px, -6px);

    -webkit-transform: rotate(55deg) translate(-10px, -6px);

    background-color: #003459;

}










/* Hover */

.team-items:hover .team-overlay {

    opacity: 1;

}



.team-items:hover .team-overlay p {

    top: 0;

}



.team-items:hover .social ul {

    top: 0;

}



.team-items:hover .team-text {

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);

}

/*--- Start Scroll Top ---*/

.scroll-top {

    color: #fff;

    width: 40px;

    height: 40px;

    right: 15px;

    bottom: 30px;

    position: fixed;

    font-size: 14px;

    line-height: 40px;

    text-align: center;

    border-radius: 50%;

    background: rgba(45, 56, 78, .18);

    cursor: pointer;

    opacity: 0.4;

    display: none;

    z-index: 99999;

    transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -webkit-transition: all .5s ease-in-out;

}



.scroll-top:hover {

    background: #5fb800;

    opacity: 1;

}



/*--- End Scroll Top ---*/

/*--- Start  Footer ---*/

footer {

    background: #2d384e;



}



footer.section-padding {

    padding-bottom: 0;

}



footer h3 {

    color: #fff;

    text-align: left;

}



/* About */

.about {

    padding-right: 40px;

}



.about img {

    height: 40px;

    margin-bottom: 25px;

}






/* Copyrights */

.copyrights {

    margin-top: 100px;

    text-align: center;

    background: #2a354a;

    padding: 40px 0
}



.copyrights p a {

    color: #003459;

    transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -webkit-transition: all .5s ease-in-out;

}



.copyrights p a:hover {

    color: #d06d14;

    text-decoration: none;

}



/*--- End  Footer ---*/

/*--- Responsive ---*/

@media (max-width: 1366px) {

    /* Header */
    header p {

        width: 48%;

    }

}



@media (max-width: 991px) {

    /* Header */
    h1 {

        font-size: 35px;

    }

    /* Navbar */
    .navbar-default .navbar-nav > li > a {

        font-size: 14px;

    }

    /* About */
    .about-us-left {

        padding-right: 15px;

        margin-bottom: 60px;

    }

    /* State */
    .state {

        padding-bottom: 70px;

    }

    .state-items {

        margin-bottom: 30px;

    }

    /* Interested */
    .interested h2,

    .interested p,

    .interested .main-buttons {

        text-align: center;

    }

    .interested .main-buttons {

        padding: 40px 0 0;

    }

    /* Foorm */
    .about,

    .links {

        margin-bottom: 30px;

    }



}



@media (max-width: 767px) {

    /* Navbar */
    .navbar-default .navbar-collapse,

    .navbar-default .navbar-form {

        border-color: transparent;

        background: #e6ffe8;

    }

    .navbar-fixed-top .navbar-collapse {

        max-height: none;

    }

    .navbar ul {

        text-align: center;

    }

    .navbar-default .navbar-nav > li {

        margin: 0 0 25px;

    }

    .navbar-default .navbar-nav > li:last-child {

        margin-bottom: 0;

    }

    .navbar-default .navbar-nav > li > a {

        font-size: 22px;

        font-weight: 500;

    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {

        color: #fff;

        font-size: 22px;

        font-weight: 500;

        line-height: 1.5;

    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {

        color: #003459;

    }

    .dropdown ul {

        padding: 20px 0 0;

    }

    /* Contact */
    .contact form {

        margin-top: 60px;

    }

    /* Footer */
    .footer-about,

    .products {

        margin-bottom: 30px;

    }



}



@media (max-width: 480px) {

    /* Header */
    header p {

        width: 68%;

    }

    /* Prices */
    .prices span {

        margin-left: 15px;

        ;

    }

}



/*--- Only on Microsoft Explorer browser IE 10+ ---*/

@media screen and (-ms-high-contrast: active),

(-ms-high-contrast: none) {



    /*--- Section Contact ---*/
    textarea,

    input[type="text"],

    input[type="email"] {

        color: #747e80;

    }

}


.white {

    color: #fff;

}

.orange {

    color: #003459;

}

.orange h3 {

    color: #003459;

}

footer.section-padding {

    padding: 0;

}

.copyrights {

    margin-top: 0;

    background: none;

}

.textarea-modal {

    height: 150px;

}


.modal-open {
    overflow: auto;
}


@media (min-width: 768px) {

}

@media (max-width:1024px) {

}

@media (max-width:991px) {

}

@media (max-width:520px) {

}

@media (max-width:768px) {

}



@media (max-width: 320px) {

}

#action {
    font-family: 'Roboto Condensed', sans-serif;
}
