/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2018, 9:50:50 AM
    Author     : olegkholyk
*/


.showon {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10000;
    overflow: auto;
    background: rgba(0,0,0,.6);
    padding: 70px;
    display: block;
}

.innerterm {
    top: 15%;
    left: 15%;
    height: 70%;
    width: 70%;
    position: absolute;
    z-index: 10001;
    overflow: auto;
    background: #fff;
    padding: 70px;
    display: inherit;
}

